parameters:
    level: 9
    paths:
        - src
        - Examples
        - Tests
    ignoreErrors:
        -
            message: '#Variable .* might not be defined\.#'
            path: Examples
        -
            message: '#Parameter .* of .* expects .*, .* given\.#'
            path: Examples